body, html {
    height: 100%;
}

.home-header {
    background-color: $deep;
    height: 100%;
    color: #fff;
    padding-top: $size;
    &__content {
        height: 100%;
    }
}

.top-line {
    position: absolute;
    width: 100%;
    height: $size;
    top: 0;
    border-bottom: 1px solid rgba(#fff, $border-opacity);
    z-index: 10;
    background-color: $deep;
    display: flex;
    align-items: center;
    &__decoration {
        flex: 1 0 0;
        text-align: center;
        &::before {
            content: '';
            height: 1px;
            width: 50px;
            background-color: #fff;
            display: inline-block;
            opacity: $border-opacity*1.5;
            position: relative;
            top: -5px;
        }
    }
    &__contacts {
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 500;
        letter-spacing: .4em;
        color: rgba(#fff, .5);
        display: flex;
        align-items: center;
    }
    &__separator {
        width: 1px;
        height: 30px;
        background-color: rgba(#fff, $border-opacity*2);
        margin: 0 20px;
    }
    &__numbers, &__text {
        font-family: roboto-vh, sans-serif;
        margin-left: 7px;
        a {
            color: $accent;
        }
    }
    &__numbers {
        color: $accent;
    }
    &__text {
        color: rgba(#fff, .75);
    }
}

.logo {
    flex: 0 0 200px;
    display: flex;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: .5em;
    &__img-wrapper {
        width: $size;
        height: $size;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &:hover, &:focus {
        color: #fff;
    }
}

.menu-button-container {
    flex: 0 0 200px;
    text-align: right;
    position: relative;
    height: $size;
}

.menu-button {
    position: absolute;
    top: 0;
    right: 0;
    width: $size;
    height: $size;
    background-color: #3c3c3c;
    background-image: url(../images/dist/bars-solid.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: background .25s ease-out;
    &:hover {
        background-color: $accent;
    }
}

// ASIDE

.home-aside {
    background-color: $dark;
    width: $size;
    height: 100%;
    position: absolute;
    top: 0;
    padding-top: $size;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
    &__decoration {
        flex: 1 0 0;
        background-image: url(../images/dist/decoration.svg);
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
    &__soc {
        flex: 1 0 0;
    }
    &__share-icon {
        background-color: $accent;
        width: $size;
        flex: 0 0 $size;
        background-image: url(../images/dist/share-solid.svg);
        background-size: 12px;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.soc-item  {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(#fff, $border-opacity);
    margin-top: -1px;
    transition: background .5s ease-out;
    &:not(:last-child) {
        border-bottom: 1px solid transparent;        
    }
    img {
        width: 15px;
        height: auto;
        max-height: 15px;
        opacity: .3;
        transition: opacity .5s ease-out;
    }
    &:hover {
        background-color: $accent;
        img {
            opacity: 1;
        }
    }
}

// SLIDER

.slider-container {
    padding-left: $size;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.slider-bottom {
    position: absolute;
    left: $size;
    bottom: 0;
    height: $size;
    display: flex;
    align-items: center;
    z-index: 5;
    width: calc(75% - #{$size});
}

.slider-share {
    flex: 0 1 auto;
    &__items {
        display: flex;
        position: relative;
        bottom: -.5px;
    }
    &__item {
        width: $size;
        height: $size;
        border: none;
        background-color: $dark;
        margin-left: -.5px;
        &:not(:last-child) {
            border-right: 1px solid rgba(#fff, $border-opacity);
        }
        &:last-child {
            &::after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 3px;
                height: 100%;
                background-color: $accent;
            }
        }
    }
}

.slider-img {
    height: 100%;
    width: 75%;
    overflow: hidden;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(#000, .45);
        z-index: 2;
    }
    &__slide {
        height: 100%;
        overflow: hidden;
    }
    &__bg {
        height: 100%;
        background-position: center;
        background-size: cover;
    }
}

.slider-text {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: calc(100% - #{$size});
    &__slide {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    &__content {
        text-align: right;
        padding-right: 24%;
    }
    &__heading {
        text-transform: uppercase;
        font-size: 60px;
        line-height: 120%;
        font-family: oswald-vh, sans-serif;
        max-width: 780px;
        float: right;
        span {
            color: $accent;
            white-space: nowrap;
        }
    }
    &__descr {
        margin-bottom: 20px;
        float: right;
        max-width: 500px;
        font-size: 13px;
        font-weight: 500;
        margin-top: 15px;
        clear: both;
    }
    &__button {
        float: right;
        clear: both;
    }
}

.slider-pagination {
    flex: 0 0 140px;
    display: flex;
    justify-content: center;
    height: $size;
    align-items: center;
    position: relative;
    .swiper-pagination-bullet {
        width: 6px;
        height: 6px;
        opacity: 1;
        background-color: #fff;
        margin: 0 7.5px;
    }
    .swiper-pagination-bullet-active {
        background-color: $accent;
        position: relative;
        &::before {
            content: '';
            width: 14px;
            height: 14px;
            border: 1px solid $accent;
            position: absolute;
            border-radius: 100%;
            left: -4px;
            top: -4px;
        }
    }
}

.slider-scrollbar {
    flex: 1 0 0;
    .swiper-scrollbar {
        height: 1px;
        background-color: rgba(#fff, .2);
    }
    .swiper-scrollbar-drag {
        height: 3px;
        background-color: $accent;
        top: -1px;
    }
}

.slider-navigation {
    flex: 0 0 140px;
    position: relative;
    left: 10px;
    &__container {
        max-width: 70px;
        position: relative;
        margin: auto;
    }
    .swiper-button-prev, .swiper-button-next {
        width: 32px;
        height: 32px;
        color: $accent;
        background-color: #3c3c3c;
        border-radius: 100%;
        border: 2px solid $accent;
        top: 5px;
        &::after {
            font-size: 10px;
        }
    }
    .swiper-button-disabled {
        opacity: 1;
        color: #8a8a8a;
        border-color: #8a8a8a;
    }
    .swiper-button-prev {
        left: 0;
    }
    .swiper-button-next {
        right: 0;
    }
}

.slider-gear {
    width: 470px;
    height: 470px;
    position: absolute;
    background-image: url(../images/dist/gear.svg);
    background-size: cover;
    background-position: center;
    top: 50%;
    margin-top: -270px;
    z-index: 2;
    right: calc(23.8% - 235px);
}

.slider-pagination-count {
    position: absolute;
    right: 20px;
    z-index: 100;
    width: 120px;
    height: 80px;
    top: 30px;
    font-family: oswald-vh, sans-serif;
    font-weight: 500;
    font-size: 24px;
    .current {
        font-size: 40px;
        color: $accent;
        display: inline-block;
        min-width: 42px;
    }
}

.slider-pagination-current {
    right: 40px;
    bottom: 10px;
    position: absolute;
    font-size: 100px;
    font-family: oswald-vh, sans-serif;
    color: $deep;
    -webkit-text-stroke: 1px #7f7f7f;
    &__dot {
        color: $accent;
        -webkit-text-stroke: 1px transparent;
    }
}